@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    background-image: url('../img/startbg.png');
}
html, body {height:100%;}
.fontWhite {
  color: #fff;
}
.fs {
  text-shadow: 0.1em 0.1em 0.1em gray;
}
.f-bold{
  font-weight: bold;
}
.center-obj {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: auto;
}
.obj-relative-92 {
  max-height: 92px;
  position: relative;
}
.hw-obj {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
.search-obj {
  display: flex;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
}
.bg-body {
  background-color: #202124;
}
.imgs {
  display: flex;
  position: relative;
  z-index: -1;
}
.yllw {
  background: yellow !important;
}
.title-home {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 5%;
    margin-bottom: 0;
    position: relative;
}
.title-home {
    font-family: 'Anton', sans-serif;
    text-shadow: 0.1em 0.1em 0.1em gray;

}
.mgrl {
  width: 70%;
  margin: auto;
}
.rckt {
  width: 70%;
  margin: auto;
}


.footer {
  position:absolute;
  bottom:0;
  width:100%;
}
*  {
  margin:0;
  padding:0;
}
.stlBtn1, .stlBtn2 {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.stlBtn1 {
  background-color: #4b61d1;
  color: #fff;
}
.stlBtn2 {
  background-color: yellow;
  width: 90px;
}
.geral {
  min-height:80vh;
  position:relative;
  width:800px;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
}

@media only screen and (max-width: 600px) {
  .mgrl {
    width: 100%;
  }
  .rckt {
    width: 100%;
  }
  .stlBtn2 {
    margin-top: 15px;
} 
}
