{% extends 'base.html'%}
{% block content%}
<div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
  <div class="container bg-blue" style="width: auto; height: auto; border-radius: 30px;">
    <div class="row align-items-center mt-5 mb-5 bg-blue" style="border-radius: 30px;">
      <div class="col-6 mx-auto mb-5">
        <div class="col-md-12 fs mt-5">
          <h1 class="fontWhite">{%block title%}Contato{%endblock%}</h1>
        </div>
        <div class="d-flex justify-content-center">
          <form class="row p-4 mt-5 h-100" method="post">
            <div class="col-md-6">
              <label for="inputName" class="form-label fontWhite fs f-bold">Nome da Empresa</label>
              <input type="text" class="form-control" id="inputName" name="inputName">
            </div>
            <div class="col-md-6">
              <label for="inputEmail" class="form-label fontWhite fs f-bold">Email para contato</label>
              <input type="email" class="form-control" id="inputEmail" name="inputEmail">
            </div>
{#            <div class="col-12">#}
{#              <label for="inputCompany" class="form-label fontWhite fs f-bold">Assunto</label>#}
{#              <input type="text" class="form-control" id="inputCompany" name="inputCompany" placeholder="Empresa">#}
{#            </div>#}
            <div class="col-md-6">
              <label for="inputPhone" class="form-label fontWhite fs f-bold">Telefone</label>
              <input type="text" class="form-control" id="inputPhone" name="inputPhone">
            </div>
{#            <div class="col-lg-6">#}
{#              <label for="inputService" class="form-label fontWhite fs f-bold">Remetente</label>#}
{#              <select id="inputService" class="form-select" name="inputService">#}
{#                <option selected>Selecione um tipo...</option>#}
{#              </select>#}
{#            </div>#}
            <div class="col-lg-6 mt-3">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                                                                  name="inputText" style="height: 100px"></textarea>
                <label for="floatingTextarea">Comentário</label>
              </div>
            </div>
            <div class="col-12 mt-3 mb-3">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  {%endblock%}
