{% extends 'base.html' %}
{% block content %}
<div>
    <!--Index-->
    <div class="" style="height: 100vh;">
    <div class="title-home" >
      <h1 class="text-center" style="color:yellow; font-size:90px;">ME AJUDE A ESTUDAR</h1>
    </div>
    <div class="container" style="width: 100wh;">
      <div class="row justify-content-between" >
        <div class="col imgs mgrl" style="margin-top: 0;">
          <img class="mgrl" src="../static/img/SVG/moonGirl.svg" alt="moon girl">
        </div>
        <div class="col imgs rckt">
          <img class="rckt" src="../static/img/SVG/rocket.svg" alt="rocket">
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}